<span
  class="fixed menu-fz z-10 flex items-center justify-center top-1 right-1 border rounded-lg px-2 py-1 bg-slate-200 shadow-md"
>
  <div class="center">
      <span class="text-xl rounded-full bg-slate-300 p-1 w-7 h-7 center uppercase mr-2">{{
        user.userName[0]
      }}</span>
      <span class="capitalize">{{ user.userName }}</span>
  </div>
  <div class="items-end absolute hidden dropdown-fz right-0 pt-2">
    <div class="bg-slate-200  shadow rounded-lg w-full overflow-hidden">
        <div (click)="logout()" class="px-3 py-2 cursor-pointer hover:bg-slate-50">Cerrar sesión</div>
    </div>
  </div>
</span>
<router-outlet></router-outlet>
