<div class="p-4 grid grid-cols-6 gap-4 h-full">
  <div class="col-span-2">
    <div class="flex items-center gap-2">
      <h2 class="text-3xl font-bold">Mis Carros</h2>
      <button mat-mini-fab (click)="openCreateOrEditDialog()"><mat-icon>add</mat-icon></button>
    </div>
    <div class="shadow-md rounded-xl p-3">
      <mat-list dense>
        <mat-list-item (click)="test()">
          debugger
        </mat-list-item>
        @for (car of cars; track car.id) {
        <mat-list-item>
          <div class="flex justify-between items-center gap-2">
            {{ car.plate }}
            <div>
              <button mat-icon-button><mat-icon>edit</mat-icon></button>
              <a [routerLink]="['/cars',car.id]" mat-icon-button>
                <mat-icon>visibility</mat-icon>
              </a>
            </div>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        } @empty {
        <mat-list-item> Si autos asignados </mat-list-item>
        }
      </mat-list>
    </div>
  </div>
  <div class="col-span-4 flex flex-col">
    <div class="flex items-center gap-2">
      <h2 class="text-3xl font-bold">Ubicación</h2>
    </div>
    <div class="shadow-md rounded-xl p-3 grow overflow-hidden">
      <mgl-map
        [scrollZoom]="true"
        [style]="'mapbox://styles/mapbox/streets-v9'"
        [zoom]="[9]"
        [center]="[
          geolocationPosition?.coords.longitude || -74.5,
          geolocationPosition?.coords.latitude || 40
        ]"
      >
        @if (geolocationPosition) {
        <mgl-marker
          [draggable]="true"
          [lngLat]="[geolocationPosition.coords.longitude, geolocationPosition.coords.latitude]"
        ></mgl-marker>
        }
        <mgl-control mglFullscreen position="top-left"></mgl-control>
        <mgl-control
          mglGeolocate
          [positionOptions]="{ enableHighAccuracy: true }"
          [showUserHeading]="true"
          position="top-left"
          ></mgl-control>
          <!-- (geolocate)="test($event)" -->
        <mgl-control mglNavigation position="top-left"></mgl-control>
        <mgl-control mglScale></mgl-control>
      </mgl-map>
    </div>

    <button (click)="sendMessage()">enviar mensaje</button>
  </div>
</div>
